* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 60px;
}

main img {
  width: 150px;
  height: auto;
  border: 4px solid #444;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* New nav styles */
nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

/* Main heading */
main h1 {
  color: #0066cc;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}