* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

h1 {
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 50px;
  /* Adjust this up/down as needed */
  left: 40px;
  /* Adjust this left/right to center over image */
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent dark bg for contrast */
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  margin: 0;
}

main img {
  width: 150px;
  height: auto;
  border: 4px solid #444;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}